#!/bin/sh
#
# Script to start and stop Redmine Server

WEBSERVER="{{ redmine_root }}/bin/{{ redmine_server }}"
SIDEKIQ="{{ redmine_root }}/bin/sidekiq_git_hosting"

case "$1" in
  start)
    ${WEBSERVER}.sh start
    # ${SIDEKIQ}.sh start
  ;;
  stop)
    ${WEBSERVER}.sh stop
    # ${SIDEKIQ}.sh stop
  ;;
  restart)
    ${WEBSERVER}.sh restart
    # ${SIDEKIQ}.sh restart
  ;;
  *)
    echo "Usage : redmine.sh {start|stop|restart}"
  ;;
esac
