# {{ shiny_logrotate }}
# Configuration for logrotate

{{ shiny_log_dir }}/access.log {
        weekly
        rotate 4
        create 755 {{ shiny_user }} {{ shiny_user }}
        missingok
        notifempty
        compress
}
