# {{ shiny_conf_dir }}/shiny-server.conf
# Configuration for shiny-server

##  Users         ##

# Instruct Shiny Server to run applications as the user "shiny"
run_as                    {{ shiny_user }};

##  Log Files     ##

# preserve_logs true;
access_log                {{ shiny_log_dir }}/access.log;
log_dir                   {{ shiny_log_dir }};

server {
  simple_scheduler        10;
  listen                  8791 127.0.0.1;

  app_init_timeout        60;
  app_idle_timeout        5;

  location / {
          app_dir         {{ shiny_web_dir }}/apps;
          log_dir         {{ shiny_log_dir }}/apps;
  }
}

## Applications  ##
