<!DOCTYPE html>
<html>
<head>
<title>Welcome to {{ server_fqdn }}!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to {{ server_fqdn }}!</h1>

<p>If you see this page, the web server is successfully installed and
working on {{ server_fqdn }}.</p>

</body>
</html>
