# {{ nginx_sites_available }}/{{ server_fqdn }}.conf
# NGINX Server Configuration

## Begin Upstreams ##



# End Upstreams ##

server {
  listen        80 default_server;
  # IPv6
  listen        [::]:80 default_server ipv6only=on;

  # server name
  server_name   {{ server_fqdn }};

  # document root
  root          {{ nginx_web_root }}/{{ server_fqdn }}/public;
  # index files
  index         index.html index.htm;

  # log locations
  access_log    {{ nginx_log_dir }}/{{ server_fqdn }}/access.log;
  error_log     {{ nginx_log_dir }}/{{ server_fqdn }}/error.log warn;

  location / {
    {% if server_ssl_only == 1 }
    ## Redirect to HTTPS site
    return 301 https://$host$request_uri;
    {% else %}
    # First attempt to serve request as file, then
    # as directory, then fall back to displaying a 404.
    try_files $uri $uri/ =404;
    {% endif %}
  }

## Begin Applications ##



## End Applications ##

  # include dynamic error pages
  include {{ nginx_include_uri }}/errors.conf;
}

{% if server_ssl == 1 %}

server {

  # IPv4
  listen  443 ssl default_server;
  # IPv6
  #listen [::]:443 default_server ipv6only=on;

  # server name
  server_name   {{ server_fqdn }};

  # document root
  root          {{ nginx_web_root }}/{{ server_fqdn }}/public;
  # index files
  index         index.html index.htm;

  # log locations
  access_log    {{ nginx_log_dir }}/{{ server_fqdn }}/access.log;
  error_log     {{ nginx_log_dir }}/{{ server_fqdn }}/error.log warn;

  ssl_certificate {{ server_ssl_certificate }};
  ssl_certificate_key {{ server_ssl_certificate_key }};

## Begin SSL Applications ##



## End SSL Application ##

  # include dynamic error pages
  include {{ nginx_include_uri }}/errors.conf;
}

{% endif %}
