# /lib/systemd/system/redmine.service
# Managed by Ansible

[Unit]
Description=Redmine Server
Requires=network.target
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/redmine
ExecStart={{ redmine_root }}/bin/redmine.sh start
ExecStop={{ redmine_root }}/bin/redmine.sh stop
User={{ redmine_user }}
# Wait to give Redmine time to load
ExecStartPost=/usr/bin/sleep 10
PIDFile={{ redmine_root }}/tmp/pids/redmine.pid
Environment="REDMINE_PID_FILE_PATH={{ redmine_root }}/tmp/pids/redmine.pid"

[Install]
WantedBy=multi-user.target
