# {{ nginx_sites_available }}/default
# NGINX Server Configuration

server {
  listen        80 default_server;
  # IPv6
  listen        [::]:80 default_server ipv6only=on;

  # server name
  server_name   {{ ansible_fqdn }};

  # document root
  root          {{ nginx_web_root }}/{{ ansible_fqdn }}/public;
  # index files
  index         index.html index.htm;

  # log locations
  access_log    {{ nginx_log_dir }}/{{ ansible_fqdn }}/access.log;
  error_log     {{ nginx_log_dir }}/{{ ansible_fqdn }}/error.log warn;

  location / {
    # First attempt to serve request as file, then
    # as directory, then fall back to displaying a 404.
    try_files $uri $uri/ =404;
  }

  # include dynamic error pages
  include {{ nginx_include_uri }}/errors.conf;
}
