# {{nginx_dir}}/nginx.conf
# NGINX Global Configuration

user {{ www_user }};
worker_processes {{ nginx_workers }};
pid /run/nginx.pid;

events {
        worker_connections {{ nginx_connections }};
        use epoll;
        ## Accept as many connections as possible.
        multi_accept on;
}

http {

        ##
        # Basic Settings
        ##

        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        keepalive_timeout 65;
        types_hash_max_size 2048;
        # server_tokens off;

        server_names_hash_bucket_size 64;
        proxy_headers_hash_bucket_size 128;
        # server_name_in_redirect off;

        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        ##
        # DDos Attack Protection
        ##

        # limit_req_zone $binary_remote_addr zone=one:10m rate=1r/s;

        ##
        # Logging Settings
        ##

        access_log {{ nginx_log_dir }}/access.log;
        error_log {{ nginx_log_dir }}/error.log;

        ##
        # Gzip Settings
        ##

        gzip on;
        gzip_disable "msie6";

        # gzip_vary on;
        # gzip_proxied any;
        # gzip_comp_level 6;
        # gzip_buffers 16 8k;
        # gzip_http_version 1.1;
        # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

        ##
        # Configuration files
        ##

        include {{ nginx_conf_dir }}/*.conf;

        ##
        # Virtual Hosts
        ##

        include {{ nginx_sites_enabled }}/*;
}
