<!DOCTYPE html>
<html>
<head>
<title>Welcome to NGINX!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to NGINX!</h1>
<p>If you see this page, the nginx web server is successfully installed and
working on {{ ansible_fqdn }}.</p>

<p>For online documentation and support please refer to
<a href="http://nginx.org/">nginx.org</a></p>

<p><em>Thank you for using ansible and nginx.</em></p>

</body>
</html>
