<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Server Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <style type="text/css"><!--
    body {
        color: #444444;
        background-color: #EEEEEE;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 80%;
    }
    h1 {}
    h2 { font-size: 1.2em; }
    #page{
        background-color: #FFFFFF;
        width: 60%;
        margin: 24px auto;
        padding: 12px;
    }
    #header {
        padding: 6px ;
        text-align: center;
    }
    /* .status3xx { background-color: #475076; color: #FFFFFF; } */
    /* .status4xx { background-color: #C55042; color: #FFFFFF; } */
    /* .status5xx { background-color: #F2E81A; color: #000000; } */
   .status { background-color: #F2E81A; color: #000000;  }

    #content {
        padding: 4px 0 24px 0;
    }
    #footer {
        color: #666666;
        background: #f9f9f9;
        padding: 10px 20px;
        border-top: 5px #efefef solid;
        font-size: 0.8em;
        text-align: center;
    }
    #footer a {
        color: #999999;
    }
    --></style>
</head>
<body>
<div id="page">
    <div id="header" class="status">
        <h1>Oops....</h1>
    </div>
    <div id="content">
        <h2>Something went wrong</h2>
        <p>Please try again or contact the <!--WEBMASTER//-->webmaster<!--WEBMASTER//-->.</p>
    </div>
    <div id="footer">
        <p>{{ ansible_fqdn }}</p>
    </div>
</div>
</body>
</html>
