# {{nginx_conf_dir}}/ssl.conf
# NGINX SSL Configuration

## Protocol versions ##

ssl_protocols               TLSv1 TLSv1.1 TLSv1.2;

##  Ciphers ##

ssl_ciphers                 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
ssl_prefer_server_ciphers   on;
ssl_ecdh_curve              secp521r1;

##  DH Pharam Settings ##

ssl_dhparam                 {{ nginx_ssl_dhparam_file }};

## Session Settings ##

ssl_session_timeout         1d;
ssl_session_cache           shared:SSL:10m;
