
location {{ redmine_app_url }} {
  try_files               /maintenance.html @redmine;

  # the regex logic:   after either /javascripts/ or /stylesheets/ find the suffixes we want, followed by any quantity of numbers 0-9
  #     This works because the files we want to cache always appear after one of those 2 directories:  but not the files we want to ignore
  #        /journals/edit/24174.js   and /uploads.js?attachment_id=1&filename=my-file-to-upload.png
  location ~* {{ redmine_app_url }}/(javascripts|stylesheets|images)/.+(css|js|jpg|gif|ico|png)(\?[0-9]+)?$ {
          rewrite         ^/redmine/(.*)$   /$1 break;

          root            {{ redmine_app_dir }}/public;
          try_files       $uri =404;
          expires         365d;
  }
}

location @redmine {
  proxy_pass              http://redmine-upstream;
  proxy_redirect          http://redmine-upstream/ $scheme://$host/redmine/;

  proxy_set_header        Host $http_host;
  proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header        X-Forwarded-Proto $scheme;
  proxy_set_header        X-Real-IP $remote_addr;

  # timeout after 300 seconds
  proxy_read_timeout      300;
}
