# {{nginx_conf_dir }}/errors.conf
# NGINX Error Configuration

error_page 403                /errors/403.html;
error_page 404                /errors/404.html;
error_page 402 500 501 502    /errors/error.html;

location /errors {
        root                  {{ nginx_document_root }};

        log_not_found         off;
        access_log            off;
}


location @maintenance {
        root                  {{ nginx_document_root }};

        rewrite               ^(.*)$ /maintenance.html break;
}
