
location {{ shiny_web_directory }}/cultivation_app {
  rewrite                 ^/{{ shiny_web_directory }}/cultivation_app/(.*)$ /$1 break;

  include                 {{ nginx_include_uri }}/proxy.conf;

  proxy_pass              http://cultivation-app;
  proxy_redirect          http://cultivation-app/ $scheme://$host/cultivation_app/;

  proxy_http_version      1.1;
  proxy_set_header        Upgrade $http_upgrade;
  proxy_set_header        Connection "upgrade";

  # timeout after 10 minutes of inactivity
  proxy_read_timeout      5m;
  proxy_send_timeout      5m;
  keepalive_timeout       5m;

  location {{ shiny_web_directory }}/cultivation_app/shared {
          access_log      off;
          log_not_found   off;
          expires         7d;

          proxy_pass              http://cultivation-app/shared;
          proxy_redirect          http://cultivation-app/shared $scheme://$host/cultivation_app/shared;

          add_header      Cache-Control public;
  }
}
