stdout_redirect '{{ redmine_app_dir }}/log/puma.stderr.log', '{{ redmine_app_dir }}/log/puma.stdout.log'

on_worker_boot do
  ActiveSupport.on_load(:active_record) do
    ActiveRecord::Base.establish_connection
  end
end
